body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

#container {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#stopwatch {
    margin-top: 20px;
}

#earnings {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#time {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#editIncomeButton {
    background-color: #007bff;
    color: white;
    border: none;
}

#playPauseButton {
    background-color: #28a745;
    color: white;
    border: none;
}

button:hover {
    opacity:0.8;
}
