/* General Page Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

#container {
    text-align: center;
}

#earned {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* Display for Money Earned */
#earned_usd, #earned_uah {
    font-size: 3rem;
    margin-right: 20px;
}

/* Display for Time Elapsed */
#timeElapsed {
    font-size: 1.5rem;
    color: #888;
}

#startStop {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#startStopIcon {
    position: fixed;
    bottom: 10px; 
    right: 20px; 
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2; /* Ensures it is layered on top of the footer */
}

/* Settings Icon */
#settings {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* Settings Icon Positioning */
#settingsIcon {
    position: fixed;
    bottom: 10px; /* Adjust to be on top of the footer */
    left: 20px; /* Positioned 20px from the left */
    background-color: #ccc;
    color: #000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2; /* Ensures it is layered on top of the footer */
}

#settingsIcon:hover {
    background-color: #999;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Set a fixed width for the modal */
    max-width: 90%; /* Ensure modal is responsive on smaller screens */
    box-sizing: border-box; /* Include padding in the element's total width */
    text-align: center;
}

/* Input and Button Styling in Modal */
input, select, button {
    width: 100%; /* Ensure inputs take full width of modal-content */
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    box-sizing: border-box; /* Include padding and border in width calculation */
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Footer Styling */
footer {
    text-align: center;
    background-color: #f5f5f5; /* Light theme */
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #000;
    font-size: 0.9rem;
    z-index: 1; /* Ensure footer stays at the bottom */
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

